---
layout: page
title: TBA
permalink: /projects/TBA
---

<div id="projects-body">
    <div id="projects-container">
        {% assign title = page.title %}
        {% for post in site.posts %} 
            {% if post.path contains title %}
                <a id="projects-post" href="{{ site.baseurl }}{{ post.url }}"><p id="projects-post-title">{{ post.title }}</p><p id="projects-post-date">{{ post.date | date: "%-d %B %Y" }}</p></a>
            {% endif %}
        {% endfor %}
    </div>
</div>