---
layout: page
title: F1 Machine Learning
category: projectpage
permalink: /projects/project2
---

<div id="projects-body">
    <div id="projects-container">
        {% for post in site.posts reversed %} 
            {% if post.category == "project 2" %}
                <a id="projects-post" href="{{ site.baseurl }}{{ post.url }}"><p id="projects-post-title">{{ post.title }}</p><p id="projects-post-date">{{ post.date | date: "%A, %-d %B %Y" }}</p></a>
            {% endif %}
        {% endfor %}
    </div>
</div>