<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }} id="default-html">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    <!-- <link rel="icon" href="../assets/images/ "> -->
  </head>
  <body id="default-body">
    {{ content }}
    <script src="{{ site.baseurl }}/scripts/backgroundFontColors.js"></script>
    <script src="{{ site.baseurl }}/scripts/homeHoverColors.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>